<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1 class="top-slider">Beneficio 1</h1>
      <div class="div-center">
        <ion-card class="card-slide"></ion-card>
      </div>
      <p class="ion-text-center p-descripcion ion-no-margin">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.
      </p>
      <ion-button class="btn-rojo" mode="ios" (click)="slide_next ()">Adelante</ion-button>
      <p class="p-descripcion p-bottom" (click)="view_login()">Saltar</p>
    </ion-slide>
    <ion-slide>
      <h1 class="top-slider">Beneficio 2</h1>
      <div class="div-center">
        <ion-card class="card-slide"></ion-card>
      </div>
      <p class="ion-text-center p-descripcion ion-no-margin">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.
      </p>
      <ion-button class="btn-rojo" mode="ios" (click)="slide_next ()">Adelante</ion-button>
      <p class="p-descripcion p-bottom" (click)="view_login()">Saltar</p>
    </ion-slide>
    <ion-slide>
      <h1 class="top-slider">Beneficio 3</h1>
      <div class="div-center">
        <ion-card class="card-slide"></ion-card>
      </div>
      <p class="ion-text-center p-descripcion ion-no-margin">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.
      </p>
      <ion-button class="btn-rojo" mode="ios" (click)="slide_next ()">Adelante</ion-button>
      <p class="p-descripcion p-bottom" (click)="view_login()">Saltar</p>
    </ion-slide>
  </ion-slides>
</ion-content>