<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="div-center">
        <ion-card class="card-slide" id="cardwightuno">
          <img src="assets/img/grupo-2639.png">
        </ion-card>
      </div>
      <h1>Facilita tu compra</h1>
      <p class="ion-text-center p-descripcion ion-no-margin">
        Todos tus productos y marcas favoritas en un solo lugar
      </p>
      <ion-button class="btn-rojo" mode="ios" (click)="slide_next ()">Continuar</ion-button>
    </ion-slide>
    <ion-slide>
      <div class="div-center">
        <ion-card class="card-slide" id="cardwightdos">
          <img src="assets/img/grupo-2640.png">
        </ion-card>
      </div>
      <h1>Ahorra tiempo</h1>
      <p class="ion-text-center p-descripcion ion-no-margin">
        Haz un solo pedido y nosotros nos encargaremos de enviártelo a tu ferretería lo más rápido posible
      </p>
      <ion-button class="btn-rojo" mode="ios" (click)="slide_next ()">Continuar</ion-button>
    </ion-slide>
    <ion-slide>
      <div class="div-center">
        <ion-card class="card-slide" id="cardwighttres">
          <img src="assets/img/grupo-2606.png">
        </ion-card>
      </div>
      <h1>Los mejores precios</h1>
      <p class="ion-text-center p-descripcion ion-no-margin">
        Para que tu ferretería sea competitiva y puedas vender más
      </p>
      <ion-button class="btn-rojo" mode="ios" (click)="slide_next ()">Continuar</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>