<!--<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="div-center">
    <ion-card class="card-slide top-slider"></ion-card>
  </div>
  <h1 class="ion-text-center top-titulo">¡Hola {{ user?.name }}!</h1>
  <p class="ion-text-center p-descripcion p-top-bottom">Por favor ingresa la contraseña que te hemos brindado y cámbiala por una de tu preferencia</p>
  <form [formGroup]="form" class="bottom-espacio">
    <ion-item lines="none" class="item-input" mode="ios">
      <ion-input [type]="passwords.before" mode="ios" formControlName="before_password" placeholder="Contraseña anterior"></ion-input>
      <ion-icon
        [name]="passwords.before === 'password' ? 'eye': 'eye-off'"
        (click)="change_visible (passwords, 'before')"
        class="iconinterrogativo"></ion-icon>
    </ion-item>
    <ion-item lines="none" class="item-input item-top" mode="ios">
      <ion-input mode="ios" formControlName="password" [type]="passwords.password" placeholder="Contraseña nueva"></ion-input>
      <ion-icon
        [name]="passwords.password === 'password' ? 'eye': 'eye-off'"
        (click)="change_visible (passwords, 'password')"
        class="iconinterrogativo"></ion-icon>
    </ion-item>
    <ion-item lines="none" class="item-input item-top" mode="ios">
      <ion-input mode="ios" formControlName="confirm_password" [type]="passwords.confirm" placeholder="Repite contraseña nueva"></ion-input>
      <ion-icon
        [name]="passwords.confirm === 'password' ? 'eye': 'eye-off'"
        (click)="change_visible (passwords, 'confirm')"
        class="iconinterrogativo"></ion-icon>
    </ion-item>

    <div>
      <ul style="padding-left: 1.5rem; color: #FF0F0F; line-height: 1.5;">
        <li *ngFor="let error of errors">
          {{ error }}
        </li>
      </ul>
    </div>
  </form>
</ion-content>
<ion-footer class="ion-no-border ion-text-center" mode="ios">
  <ion-button [disabled]="loading === true" mode="ios" class="btn-guardar" (click)="submit ()">
    <span *ngIf="!loading">Guardar cambios</span>
    <span *ngIf="loading">Cargando...</span>
    <ion-spinner *ngIf="loading"></ion-spinner>
  </ion-button>
</ion-footer>