@font-face{
    font-family: PoppinsMedium;
    src : url('/assets/font/Poppins-Medium.ttf')
}
@font-face{
    font-family: AvenirMedium;
    src : url('/assets/font/Avenir-Medium.ttf')
}
@font-face{
    font-family: AvenirBlack;
    src : url('/assets/font/Avenir-Black.otf')
}
@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/font/Avenir Heavy.ttf')
}
ion-content
{
    --background: #ffffff;
    --padding-start: 1.6875rem;
    --padding-end: 1.6875rem;
}
h1
{
  font-family: PoppinsMedium;
  color: #000000;
  font-size: 1.375rem; 
}
.top-slider
{
    margin-top: 20%;
}
.h6-black
{
    font-family: AvenirBlack;
    color: #777777;
    margin: 0px;
    font-size: 1.0625rem;
}
.p-medium
{
    color: #777777;
    font-family: AvenirMedium;
    font-size: 1.0625rem;
    margin-top: 0.25rem;
    margin-bottom: 0px;
}
.div-top
{
    margin-top: 1.75rem;
}
.btn-confirmar
{
    font-family: AvenirHeavy;
    --background: #FF640A;
    --background-activated:#FF640A;
    --border-radius: 1.875rem;
    font-size: 1.1875rem;
    width: 70%;
    margin: 0px;
}
.btn-guardar
{
    font-family: AvenirHeavy;
    --background: #29A0EC ;
    --background-activated: #29A0EC ;
    --border-radius: 1.875rem;
    font-size: 1.1875rem;
    width: 70%;
    margin: 0px;
    margin-top: 0.625rem;
}
ion-footer 
{
    padding-bottom: 2rem;
}
@media (min-width: 768px)
{
    ion-content
    {
        --padding-start: 8.75rem;
        --padding-end: 8.75rem;
    }
    .btn-guardar
    {
        width: 45%;
        margin-top: 0rem;
        margin-left: 0.625rem;
    }
    .btn-confirmar
    {
        width: 45%;
    }
    
}