<!--<ion-header>
  <ion-toolbar>
    <ion-title>gracias-comprar</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h1 class="ion-text-center top-slider bottom-cero">Bienvenido</h1>
  <p class="ion-text-center p-descripcion bottom-cero top-p">Te damos la bienvenida a Paketo. Para que todo funcione correctamente, necesitamos configurar tu tienda</p>
  <div class="div-center">
    <ion-card class="card-slide top-slider"></ion-card>
  </div>
</ion-content>
<ion-footer class="ion-no-border ion-text-center" mode="ios">
  <ion-button mode="ios" class="btn-guardar" (click)="view_confirmar_datos ()">Empecemos</ion-button>
</ion-footer>