<ion-app>
  <ion-menu side="start" menuId="menu" contentId="menu">
    <ion-button mode="ios" class="btn-close-menu" (click)="close_menu ()"><ion-icon name="close" class="icon-close"></ion-icon></ion-button>
    <ion-header class="ion-no-border ion-no-padding">
      <ion-toolbar class="ion-no-padding">
        <ion-card class="card-nav">
          <ion-avatar><ion-icon name="person" class="icon-person"></ion-icon></ion-avatar>
          <div>
            <ion-label class="label-nombre">{{ auth?.USER_DATA?.persona_contacto }}</ion-label>
            <h1 class="h1-nombre-empresa">{{ auth?.USER_DATA?.name }}</h1>
          </div>
        </ion-card>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="ion-no-padding">
        <ion-item class="ion-no-padding" lines="none" [routerLink]="['/categoria']" (click)="closeFirst()">
          <img src="assets/img/grupo2830.png" class="iconos-menu">
          <div>
            <p class="p-nombres-menu">Categorias</p>
            <p class="p-descripciones">Ver todas las categorias</p>
          </div>
          <ion-icon name="arrow-forward" slot="end" class="icon-flecha"></ion-icon>
        </ion-item>

        <ion-menu-toggle auto-hide="false">
          <ion-item class="ion-no-padding item-top" lines="none" [routerLink]="['/carrito']">
            <img src="assets/img/grupo2825.png" class="iconos-menu">
            <div>
              <p class="p-nombres-menu">Carrito</p>
              <p class="p-descripciones">Ver todos los productos en mi carrito</p>
            </div>
            <ion-icon name="arrow-forward" slot="end" class="icon-flecha"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle auto-hide="false">
          <ion-item class="ion-no-padding item-top" lines="none" [routerLink]="['/favorites']">
            <img src="assets/img/Icon feather-heart.png" class="iconos-menu">
            <div>
              <p class="p-nombres-menu">Favoritos</p>
              <p class="p-descripciones">Todos los productos que marcaste</p>
            </div>
            <ion-icon name="arrow-forward" slot="end" class="icon-flecha"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item class="ion-no-padding item-top" lines="none" [routerLink]="['/historial']">
            <img src="assets/img/grupo2829.png" class="iconos-menu">
            <div>
              <p class="p-nombres-menu">Historial de compras</p>
              <p class="p-descripciones">Los pedidos que hayas realizado</p>
            </div>
            <ion-icon name="arrow-forward" slot="end" class="icon-flecha"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/ajustes-perfil']" class="ion-no-padding item-top" lines="none">
            <img src="assets/img/grupo2826.png" class="iconos-menu">
            <div>
              <p class="p-nombres-menu">Ajustes de perfil</p>
              <p class="p-descripciones">Contraseña, categorías de interés y más</p>
            </div>
            <ion-icon name="arrow-forward" slot="end" class="icon-flecha"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/sobre-paketo']" class="ion-no-padding item-top" lines="none" [routerLink]="['/sobre-paketo']" (click)="closeFirst()">
            <img src="assets/img/grupo2827.png" class="iconos-menu">
            <div>
              <p class="p-nombres-menu">Sobre Paketo</p>
              <p class="p-descripciones">Quienes somos, créditos y más</p>
            </div>
            <ion-icon name="arrow-forward" slot="end" class="icon-flecha"></ion-icon>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="logout ()" class="item-cerrar" lines="none">
            <img src="assets/img/grupo2828.png" class="iconos-menu">
            <div>
              <p class="p-nombres-menu">Salir</p>
              <p class="p-descripciones">Cerrar sesión</p>
            </div>
            <ion-icon name="enter-outline" slot="end" class="icon-flecha"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
