@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/font/Avenir Heavy.ttf')
}
@font-face{
    font-family: PoppinsMedium;
    src : url('/assets/font/Poppins-Medium.ttf')
}
@font-face{
    font-family: Avenirlight;
    src : url('/assets/font/avenirltstd-light.otf')
}
@font-face{
    font-family: AvenirBlack;
    src : url('/assets/font/Avenir-Black.otf')
}
@font-face{
    font-family: AvenirMedium;
    src : url('/assets/font/Avenir-Medium.ttf')
}
@font-face{
    font-family: AvenirBook;
    src : url('/assets/font/Avenir Book.ttf')
}
@font-face{
    font-family: PoppinsSemiBold;
    src : url('/assets/font/Poppins-SemiBold.ttf')
}
ion-header
{
    background-color: #FFFFFF;
}
ion-toolbar
{
    --background: #29A0EC;
    border-radius: 0px 0px 20px 20px;
    --padding-top: 1.875rem;
    --padding-start: 2.5rem;;
    --padding-end: 0rem;
    --padding-bottom: 1.875rem;
}
.titulo-header
{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-family: PoppinsMedium;
    font-size: 1.375rem;
    margin-top: 1.625rem;
    margin-bottom: 0px;
}
ion-content
{
    --background: #FFFFFF;
}
.div-flex-header
{
    position: relative;
    padding: 0px 2.8125rem;
}
.btn-atras
{
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --color: #fff;
    font-size: 1.125rem;
    font-family: PoppinsMedium;
    --background: #29A0EC;
    --background-activated: #29A0EC;
    margin: 0px;
    height: auto;
}
.icon-serach
{
    color: #fff;
    position: absolute;
    top: 2rem;
    right: 5rem;
    font-size: 1.75rem;
}
.icon-cart-menu
{
    color: #000000;
    width: 1.4375rem;
    position: absolute;
    top: 2.125rem;
    right: 2.8125rem;
}
.badge-rojo
{
    --background: #FF640A;
    border-radius: 50%;
    --color: #fff;
    font-family: AvenirHeavy;
    font-size: 0.8125rem;
    --padding-start: 0px; 
    --padding-end: 0px;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    right: 2.5rem;
    top: 1.5625rem;
}
ion-slides
{
    background: #FF640A;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    margin-top: 1rem;
    ion-slide
    {
        width: auto !important;
        .tiutlo-slider
        {
            color: #fff;
            font-family: Avenirlight;
            font-size: 1.0625rem;
            margin: 0px;
        }
        .tiutlo-slider-activo
        {
            font-family: AvenirBlack !important;
            text-decoration: underline;
        }
    }
}
.grid-padding-left-right
{
    padding-left: 0.90625rem;
    padding-right: 0.90625rem;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 1.875rem;
}
.card-favorito
{
    display: flex;
    align-items: center;
    margin: 0px;
    width: 100%;
    box-shadow: none;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    flex-wrap: wrap;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 0.875rem;
    margin-top: 1.25rem;
    border-radius: 0px;
    justify-content: space-evenly;
    .div-btn-icon
    {
        width: 2.4375rem;
        .btn-cart-delete
        {
            --padding-start: 0px;
            --padding-end: 0px;
            --background: #FFFFFF;
            --background-activated: #ffffff;
            width: 100%;
            margin: 0px;
            height: 1.875rem;
            .img-cart
            {
                width: 1.125rem;
                height: 1.1875rem;
            }
            .img-delete
            {
                width: 0.6875rem;
                height: 1rem;
            }
            ion-spinner {
                color: #333;
                width: 16px;  
            }
        }
        .btn-cart
        { 
            border-bottom: 1px solid #DDDDDD;
        }
    }
    .avatar-favorito
    {
        width: 4rem;
        height: 4rem;
        --border-radius: 10px;
        background: #EAEAEA;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 0.5625rem;
        margin-right: 0.8125rem;
    }
    .div-titulo-texto
    {
        width: 60%;
        .h6-titulo-favorito
        {
            color: #000000;
            font-family: AvenirMedium;
            font-size: 0.9375rem;
            margin: 0px;
        }
        .p-especifiacion
        {
            color: #AAAAAA;
            font-family: AvenirBook;
            font-size: 0.8125rem;
            margin: 0px;
        }
        .label-categoria
        {
            color: #AAAAAA;
            font-family: AvenirHeavy;
            font-size: 0.8125rem;
            margin-top: 0.625rem;
        }
    }
}
.col-favoritos
{
    padding: 0px;
}
ion-footer
{
    background: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    .toolbar-footer
    {
        --background: #fff;
        --padding-start: 0.75rem;
        --padding-end: 0.75rem;
        --padding-top: 0.75rem;
        --padding-bottom: 0.75rem;
        border-radius: 35px;
        box-shadow: 0px 5px 28px #1B39547E;
    }
    .div-linea-azul
    {
        width: 40%;
        height: 7px;
        border-radius: 6px;
        background-color: #005A96;
        margin-left: 30%;
        margin-top: 0.875rem;
    }
}
.div-footer
{
    display: flex;
    justify-content: space-between;
    .div-footer-tag
    {
        width: 20%;
        .div-img-footer
        {
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .p-footer-plomo
        {
            color: #A3A3A3;
            font-family: PoppinsSemiBold;
            font-size: 0.625rem;
        }
    }
}
@media (min-width: 540px)
{
    .grid-padding-left-right
    {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    ion-footer
    {
        padding-left: 3rem;
        padding-right: 3rem;
        .toolbar-footer
        {
            --padding-start: 1.25rem;
            --padding-end: 1.25rem;
        }
    }
}
@media (min-width: 768px)
{
    ion-toolbar
    {
        --padding-start: 5rem;
    }
    .icon-cart-menu
    {
        right: 5rem;
    }
    .badge-rojo
    {
        right: 4.6875rem;
    }
    .titulo-header
    {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .col-favoritos
    {
        padding: 0px 1rem;
    }
    .card-favorito
    {
        .div-titulo-texto
        {
            width: 59%;
        }
    }
    .icon-serach
    {
        right: 8rem;
    }
    ion-footer
    {
        padding-left: 10rem;
        padding-right: 10rem;
        .toolbar-footer
        {
            --padding-start: 1.25rem;
            --padding-end: 1.25rem;
        }
    }
}