<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="back ()" mode="ios" class="btn-atras">< Atrás</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-searchbar [(ngModel)]="search_text" (ionChange)="search_change ($event)"></ion-searchbar>
    <ion-spinner slot="end" *ngIf="loadins.search === true"></ion-spinner>
  </ion-item>
  <ion-list>
    <ng-container *ngIf="search_result.productos.length > 0">
      <ion-list-header><b>Productos</b></ion-list-header>
      <ion-item (click)="ver_pedido (item.searchable)" *ngFor="let item of search_result.productos">
        <ion-label>
          {{ item.title }} - {{ item.searchable.marca }}
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="search_result.categorias.length > 0">
      <ion-list-header id="bottomcategoria"><b>Categorias</b></ion-list-header>
      <ion-item (click)="ver_categoria (item.searchable)" *ngFor="let item of search_result.categorias">
        <ion-label>
          {{ item.title }}
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>

