<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="back ()" mode="ios" class="btn-atras">< Atrás</ion-button>
    <ion-icon name="search-sharp" class="icon-serach"></ion-icon>
    <img (click)="go_page ('carrito')" src="assets/img/Icon material-add-shopping-cart.png" class="icon-cart-menu">
    <ion-badge *ngIf="(cart_item_count | async) > 0" (click)="go_page ('carrito')" mode="ios" class="badge-rojo">
      {{ cart_item_count | async }}
    </ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="titulo-header ion-text-center">Sobre Paketo</h1>
  <ion-grid class="grid-padding-left-right">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="7" class="col-favoritos">
        <p class="p-descripciones">
          Paketo es la plataforma digital que simplifica tu negocio ferretero y lo impulsa hacia el mercado moderno, para que puedas competir con las grandes empresas y logres la seguridad que buscas para tu futuro y el de tu familia.<br><br>
          En nuestra app, podrás encontrar los productos que necesitas para abastecer tu ferretería, sin tener que preocuparte de atender a varios distribuidores al mismo tiempo. De esta manera, podrás enfocarte en aumentar tus ventas y hacer crecer tu negocio.<br><br> 
          Paketo ha sido pensado en aquellos ferreteros con ganas de progresar y nuestro equipo trabajará constantemente para brindarte las herramientas adecuadas para impulsar tu negocio.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="div-center">
    <ion-card class="card-slide top-slider"></ion-card>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <img src="assets/img/icon-feather-mail.png" >
  <ion-label class="label-footer">contacto@paketo.pe</ion-label>
</ion-footer>