<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <div class="div-flex-header">
      <ion-icon name="menu-outline" class="icon-menu" (click)="open_menu ()"></ion-icon>
      <ion-label class="lable-ciudad">{{ auth?.USER_DATA?.persona_contacto }}</ion-label>
      <h1 class="h1-nombre-empersa">{{ auth?.USER_DATA?.name }}</h1>
      <img (click)="go_page ('carrito')" src="assets/img/Icon material-add-shopping-cart.png" class="icon-cart-menu">
      <ion-badge *ngIf="(cart_item_count | async) > 0" (click)="go_page ('carrito')" mode="ios" class="badge-rojo">
        {{ cart_item_count | async }}
      </ion-badge>
    </div>
    <div class="div-serach">
      <ion-item lines="none" mode="ios" class="item-search">
        <ion-icon name="search" class="icon-search"></ion-icon>
        <ion-input debounce="1500" [(ngModel)]="search_text" (ionChange)="search_change ($event)" type="search" mode="ios" class="input-serach" placeholder="Buscar productos o categorias"></ion-input>
        <ion-spinner *ngIf="loadins.search"></ion-spinner>
      </ion-item>
      <ion-button (click)="toggle_view ()" mode="ios" class="btn-filtro">
        <img [src]="segment === 'home' ? 'assets/img/grupo-8.png': 'assets/img/grupo-2305.png'">
      </ion-button>
    </div>
    
    <ion-card *ngIf="get_search_visible () || search_text !== ''">
      <ion-header>Resultados</ion-header>
      <ion-list>
        <ion-list-header>Productos</ion-list-header>
        <ion-item (click)="ver_pedido (item.searchable)" *ngFor="let item of search_result.productos">
          <ion-label>
            {{ item.title }}
          </ion-label>
        </ion-item>

        <ion-list-header>Categorias</ion-list-header>
        <ion-item (click)="ver_categoria (item.searchable)" *ngFor="let item of search_result.categorias">
          <ion-label>
            {{ item.title }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh ($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="segment === 'home'">
    <ion-slides pager="false" [options]="slideOptscard" style="padding-left: 0px;margin-top: 0px;;">
      <ion-slide class="ion-no-padding">
        <ion-card
          [ngStyle]="{'background-image': 'url(' + promociones?.imagen + ')'}"
          class="card-banner">
          <div class="div-banner">
            <h1 class="titulo-baaner">{{ promociones?.nombre }}</h1>
            <ion-button mode="ios" class="btn-carrito">Agregar al carrito</ion-button>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide class="ion-no-padding">
        <ion-card
          [ngStyle]="{'background-image': 'url(' + promociones?.imagen + ')'}"
          class="card-banner">
          <div class="div-banner">
            <h1 class="titulo-baaner">{{ promociones?.nombre }}</h1>
            <ion-button mode="ios" class="btn-carrito">Agregar al carrito</ion-button>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide class="ion-no-padding">
        <ion-card
          [ngStyle]="{'background-image': 'url(' + promociones?.imagen + ')'}"
          class="card-banner">
          <div class="div-banner">
            <h1 class="titulo-baaner">{{ promociones?.nombre }}</h1>
            <ion-button mode="ios" class="btn-carrito">Agregar al carrito</ion-button>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <div class="div-categoria-list">
      <h6 class="h6-categorias">Ultimas ofertas</h6>
      <ion-slides pager="false" [options]="slideOpts" mode="ios">
        <ion-slide *ngIf="loadins.ofertas && ofertas.length <= 0" class="slider-card">
          <ion-card class="card-categorias">
            <ion-badge class="bag-porcentaje">15%</ion-badge>
            <ion-button mode="ios" class="btn-favorito">
              <img src="assets/img/icon-feather-heart.png">
            </ion-button>
            <ion-avatar class="avatar-categoria">
            </ion-avatar>
            <ion-card-header class="ion-no-padding ion-text-start">
              <ion-card-title>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-skeleton-text style="width: 50%;" animated></ion-skeleton-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-skeleton-text style="width: 50%;" class="label-precio" animated></ion-skeleton-text>
              <ion-button mode="ios" class="btn-add-categoria">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide *ngIf="loadins.ofertas && ofertas.length <= 0" class="slider-card">
          <ion-card class="card-categorias">
            <ion-badge class="bag-porcentaje">15%</ion-badge>
            <ion-button mode="ios" class="btn-favorito">
              <img src="assets/img/icon-feather-heart.png">
            </ion-button>
            <ion-avatar class="avatar-categoria">
            </ion-avatar>
            <ion-card-header class="ion-no-padding ion-text-start">
              <ion-card-title>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-skeleton-text style="width: 50%;" animated></ion-skeleton-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-skeleton-text style="width: 50%;" class="label-precio" animated></ion-skeleton-text>
              <ion-button mode="ios" class="btn-add-categoria">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide *ngIf="loadins.ofertas && ofertas.length <= 0" class="slider-card">
          <ion-card class="card-categorias">
            <ion-badge class="bag-porcentaje">15%</ion-badge>
            <ion-button mode="ios" class="btn-favorito">
              <img src="assets/img/icon-feather-heart.png">
            </ion-button>
            <ion-avatar class="avatar-categoria">
            </ion-avatar>
            <ion-card-header class="ion-no-padding ion-text-start">
              <ion-card-title>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-skeleton-text style="width: 50%;" animated></ion-skeleton-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-skeleton-text style="width: 50%;" class="label-precio" animated></ion-skeleton-text>
              <ion-button mode="ios" class="btn-add-categoria">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide *ngFor="let item of ofertas" class="slider-card">
          <ion-card (click)="_ver_pedido (item.id_producto)" class="card-categorias">
            <ion-badge class="bag-porcentaje">15%</ion-badge>
            <ion-avatar
              [ngStyle]="{'background-image': 'url(' + item.imagen + ')'}"
              class="avatar-categoria">
            </ion-avatar>
            <ion-card-header class="ion-no-padding ion-text-start">
              <ion-card-title>{{ item.nombre }}</ion-card-title>
              <ion-card-subtitle>{{ item.marca }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-label class="label-precio">
                {{ item.precio | currency:item.moneda }}
                {{ item.descuento }}%
              </ion-label>
              <ion-button mode="ios" class="btn-add-categoria">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
              <!--<ion-button [disabled]="item.loading === true" (click)="add_carrito (item, $event)" mode="ios" class="btn-add-categoria">
                <ion-spinner *ngIf="item.loading === true"></ion-spinner>
                <ion-icon *ngIf="item.loading !== true" name="add" class="icon-add"></ion-icon>
              </ion-button>-->
            </ion-card-content>
            <!-- <ion-button
              (click)="favorite_toggled (item)" mode="ios"
              [class.btn-list-categoria-favorited]="item.tengo_favorito === true"
              class="btn-list-categoria">
              <img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria">
            </ion-button> -->
            <ion-button mode="ios"  (click)="favorite_toggled (item, $event)" mode="ios"
            [class.btn-favorito-avtivo]="item.tengo_favorito === true" class="btn-favorito" >
              <ion-icon [name]="item.tengo_favorito === true ? 'heart': 'heart-outline'"></ion-icon>
            </ion-button>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  
    <div *ngIf="loadins.categorias_preferentes && categorias_preferentes.length <= 0" class="div-categoria-list">
      <h6 class="h6-categorias"><ion-skeleton-text animated></ion-skeleton-text></h6>
      <ion-slides pager="false" [options]="slideOpts" mode="ios">
        <ion-slide class="slider-card">
          <ion-card class="card-categorias">
            <ion-avatar class="avatar-categoria">
            </ion-avatar>
            <ion-card-header class="ion-no-padding ion-text-start">
              <ion-card-title>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-skeleton-text style="width: 50%;" animated></ion-skeleton-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-skeleton-text style="width: 50%;" class="label-precio" animated></ion-skeleton-text>
              <ion-button mode="ios" style="opacity: 0;" class="btn-add-categoria">
                <ion-icon name="add" class="icon-add"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide class="slider-card">
          <ion-card class="card-categorias">
            <ion-avatar class="avatar-categoria">
            </ion-avatar>
            <ion-card-header class="ion-no-padding ion-text-start">
              <ion-card-title>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-skeleton-text style="width: 50%;" animated></ion-skeleton-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-skeleton-text style="width: 50%;" class="label-precio" animated></ion-skeleton-text>
              <ion-button mode="ios" style="opacity: 0;" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide class="slider-card">
          <ion-card class="card-categorias">
            <ion-avatar class="avatar-categoria">
            </ion-avatar>
            <ion-card-header class="ion-no-padding ion-text-start">
              <ion-card-title>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-card-title>
              <ion-card-subtitle>
                <ion-skeleton-text style="width: 50%;" animated></ion-skeleton-text>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-skeleton-text style="width: 50%;" class="label-precio" animated></ion-skeleton-text>
              <ion-button mode="ios" style="opacity: 0;" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  
    <div *ngFor="let categoria of categorias_preferentes" class="div-categoria-list">
      <h6 class="h6-categorias">{{ categoria.categoria.nombre }}</h6>
      <ion-slides pager="false" [options]="slideOpts" mode="ios">
        <ion-slide *ngFor="let item of categoria.items" class="slider-card">
          <ion-card (click)="ver_pedido (item)" class="card-categorias">
            <ion-badge class="div-img-pocentaje">
              <span class="spna-porcentaje">15% dcto</span>
            </ion-badge>
              
            <ion-avatar
              [ngStyle]="{'background-image': 'url(' + item.imagen + ')'}"
              class="avatar-categoria">
            </ion-avatar>
            <ion-card-header class="ion-no-padding ion-text-start">
              <ion-card-title>{{ item.nombre }}</ion-card-title>
              <ion-card-subtitle>{{ item.marca }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-label class="label-precio">{{ item.precio_menor | currency:item.moneda }}</ion-label>
              <ion-button mode="ios" class="btn-add-categoria">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </ion-card-content>
            <!--<ion-button mode="ios"
              (click)="favorite_toggled (item, $event)" mode="ios"
              [class.btn-list-categoria-favorited]="item.tengo_favorito === true"
              class="btn-list-categoria">
              <img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria">
            </ion-button>-->
            <ion-button mode="ios"   (click)="favorite_toggled (item, $event)" mode="ios"
            [class.btn-favorito-avtivo]="item.tengo_favorito === true" class="btn-favorito" >
              <ion-icon [name]="item.tengo_favorito === true ? 'heart': 'heart-outline'"></ion-icon>
            </ion-button>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <ion-button (click)="toggle_view ()" mode="ios" class="btn-guardar">
      Ver todas las categorias
    </ion-button>
  </ng-container>

  <ng-container *ngIf="segment === 'categorias'">
    <h6 class="h6-categorias top-h6">Categorías de productos</h6>
    <ion-grid *ngIf="loadins.categorias && categorias.length <= 0" class="grid-categria">
      <ion-row>
        <ion-col size="4" size-md="2" class="col-padding-left-right">
          <ion-card class="card-categorias card-categoria-activo">
            <div class="div-circulo"></div>
            <p class="ion-text-center p-catogoria">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </ion-card>
        </ion-col>
        <ion-col size="4" size-md="2" class="col-padding-left-right">
          <ion-card class="card-categorias card-categoria-activo">
            <div class="div-circulo"></div>
            <p class="ion-text-center p-catogoria">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </ion-card>
        </ion-col>
        <ion-col size="4" size-md="2" class="col-padding-left-right">
          <ion-card class="card-categorias card-categoria-activo">
            <div class="div-circulo"></div>
            <p class="ion-text-center p-catogoria">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </ion-card>
        </ion-col>
        <ion-col size="4" size-md="2" class="col-padding-left-right">
          <ion-card class="card-categorias card-categoria-activo">
            <div class="div-circulo"></div>
            <p class="ion-text-center p-catogoria">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </ion-card>
        </ion-col>
        <ion-col size="4" size-md="2" class="col-padding-left-right">
          <ion-card class="card-categorias card-categoria-activo">
            <div class="div-circulo"></div>
            <p class="ion-text-center p-catogoria">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </ion-card>
        </ion-col>
        <ion-col size="4" size-md="2" class="col-padding-left-right">
          <ion-card class="card-categorias card-categoria-activo">
            <div class="div-circulo"></div>
            <p class="ion-text-center p-catogoria">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="grid-categria">
      <ion-row>
        <ion-col *ngFor="let item of categorias" size="4" size-md="2" class="col-padding-left-right">
          <ion-card (click)="ver_categoria (item)" class="card-categorias card-categoria-activo">
            <div class="div-circulo"></div>
            <p class="ion-text-center p-catogoria">
              {{ item.nombre }}
            </p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="div-categoria-list">
      <h6 class="h6-categorias">Ultimas ofertas</h6>
      <ion-slides pager="false" [options]="slideOpts" mode="ios">
        <ion-slide *ngFor="let item of ofertas" class="slider-card">
          <ion-card (click)="_ver_pedido (item.id_producto)" class="card-categorias">
            <ion-avatar
              [ngStyle]="{'background-image': 'url(' + item.imagen + ')'}"
              class="avatar-categoria">
            </ion-avatar>
            <ion-card-header class="ion-no-padding ion-text-start">
              <ion-card-title>{{ item.nombre }}</ion-card-title>
              <ion-card-subtitle>{{ item.marca }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-label class="label-precio">{{ item.precio | currency:item.moneda }}</ion-label>
              <ion-button [disabled]="item.loading === true" (click)="add_carrito (item)" mode="ios" class="btn-add-categoria">
                <ion-spinner *ngIf="item.loading === true"></ion-spinner>
                <ion-icon *ngIf="item.loading !== true" name="add" class="icon-add"></ion-icon>
              </ion-button>
            </ion-card-content>
            <!-- <ion-button mode="ios"
              (click)="favorite_toggled (item)" mode="ios"
              [class.btn-list-categoria-favorited]="item.tengo_favorito === true"
              class="btn-list-categoria">
              <img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria">
            </ion-button> -->
            <ion-button mode="ios"   (click)="favorite_toggled (item)" mode="ios"
            [class.btn-favorito-avtivo]="item.tengo_favorito === true" class="btn-favorito" >
            <ion-icon [name]="item.tengo_favorito === true ? 'heart': 'heart-outline'"></ion-icon>
            </ion-button>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </ng-container>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="toolbar-footer">
    <div class="div-footer">
      <div class="div-footer-tag ion-text-center">
        <div class="div-img-footer">
          <img src="assets/img/grupo-2835.png">
        </div>
        <p class="ion-no-margin p-footer-plomo">Inicio</p>
      </div>
      <div class="div-footer-tag ion-text-center" (click)="go_page ('favorites')">
        <div class="div-img-footer">
          <img src="assets/img/icon-feather-heart-footer.png">
        </div>
        <p class="ion-no-margin p-footer-plomo">Favoritos</p>
      </div>
      <div class="div-footer-tag ion-text-center" (click)="go_page ('carrito')">
        <div class="div-img-footer">
          <img src="assets/img/grupo-2745.png">
        </div>
        <p class="ion-no-margin p-footer-plomo">Carrito</p>
      </div>
      <div class="div-footer-tag ion-text-center" (click)="go_page ('historial')">
        <div class="div-img-footer">
          <img src="assets/img/grupo-2747.png">
        </div>
        <p class="ion-no-margin p-footer-plomo">Historial</p>
      </div>
      <div class="div-footer-tag ion-text-center" (click)="share_wp ()">
        <div class="div-img-footer">
          <img src="assets/img/grupo-2744.png">
        </div>
        <p class="ion-no-margin p-footer-plomo">Contacto</p>
      </div>
    </div>
  </ion-toolbar>
  <div class="div-linea-azul"></div>
</ion-footer>