<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="back ()" mode="ios" class="btn-atras">< Agregar más</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh ($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h1 class="titulo-header ion-text-center">Mi carrito</h1>
  <ion-grid class="grid-padding-left-right">
    <ion-row>
      <ion-col *ngIf="cart.length <= 0" size="12" size-md="12" class="col-favoritos">
        <ion-item class="ion-text-center">
          <ion-label>
            <h2>Carrito vacio</h2>
            <p>Agrege algun producto al carrito</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col *ngFor="let item of cart" size="12" size-md="12" class="col-favoritos">
        <ion-card class="card-favorito">
          <div class="div-btn-icon">
            <ion-button (click)="delete_item (item)" mode="ios" class="btn-cart-delete btn-delete">
              <img src="assets/img/icon-feather-trash.png" class="img-delete">
            </ion-button>
          </div>
          <ion-avatar
            [ngStyle]="{'background-image': 'url(' + item.imagen + ')'}"
            class="avatar-categoria">
          </ion-avatar>
          <div class="div-titulo-texto">
            <h6 class="h6-titulo-favorito">{{ item.nombre }}</h6>
            <p class="p-especifiacion">Especificación</p>
            <ion-label class="label-categoria">Categoria</ion-label>
          </div>
          <div>
            <div class="div-contador">
              <ion-button (click)="update_cantidad ('restar', item)" mode="ios" class="btn-add-rest">-</ion-button>
              <ion-input
                debounce="2500"
                (ngModelChange)="valid_change ($event, item)"
                [(ngModel)]="item.cantidad"
                [max]="item.cantidad_disponible"
                min="1" type="number"
                [value]="item.cantidad" class="input-number">
              </ion-input>
              <ion-button (click)="update_cantidad ('sumar', item)" mode="ios" class="btn-add-rest">+</ion-button>
            </div>
            <p class="ion-text-center p-precio">
              {{ item.precio * item.cantidad | currency:item.moneda }}
            </p>
            <p *ngIf="item.cantidad > item.cantidad_disponible">Disponible {{ item.cantidad_disponible }}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="div-footer">
    <p class="p-footer">Dolares: {{ get_total ('USD') | currency:'USD' }}</p>
    <p class="p-footer">Soles: {{ get_total ('S/.') | currency:'S/.' }}</p>
    <ion-button mode="ios" (click)="submit ()" class="btn-caja">Ir a la caja</ion-button>
  </div>
</ion-footer>
