@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/font/Avenir Heavy.ttf')
}
@font-face{
    font-family: PoppinsRegular;
    src : url('/assets/font/Poppins-Regular.ttf')
}
@font-face{
    font-family: AvenirBook;
    src : url('/assets/font/Avenir Book.ttf')
}
ion-header
{
    background-color: #FFFFFF;
}
ion-toolbar
{
    --background: #29A0EC;
    --padding-top: 1.875rem;
    --padding-start: 2.5rem;;
    --padding-end: 0rem;
    --padding-bottom: 1.875rem;
    border-radius: 0px 0px 20px 20px;
}
ion-content
{
    --background: #FFFFFF;
}
.btn-atras
{
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --color: #fff;
    font-size: 1.125rem;
    font-family: PoppinsMedium;
    --background: #29A0EC;
    --background-activated: #29A0EC;
    margin: 0px;
    height: auto;
}
ion-item
{
    --padding-start: 1.25rem;
    --padding-end: 1.25rem;
    ion-label
    {
        font-family: PoppinsMedium;
        color: #000;
    }
}
@media (min-width: 540px)
{
    ion-item
    {
        --padding-start: 2rem;
        --padding-end: 2rem;
    }
}