<ion-content>
  <div class="div-flex">
    <ion-card>
      <ion-icon name="close-outline" class="icon-close" (click)="view_checkout()"></ion-icon>
      <h1>BCP Paketo</h1>
      <p class="p-ahorro">Ahorros soles</p>
      <ion-item class="ion-no-padding" lines="none">
        <p class="ion-no-margin"><span class="span-cuenta">Numero de cuenta</span><br><span class="span-numero">1234567890123</span></p>
        <ion-icon name="copy-outline" slot="end" class="icon-copy"></ion-icon>
      </ion-item>
      <ion-item class="ion-no-padding item-top" lines="none">
        <p class="ion-no-margin"><span class="span-cuenta">Numero de cuenta</span><br><span class="span-numero">1234567890123</span></p>
        <ion-icon name="copy-outline" slot="end" class="icon-copy"></ion-icon>
      </ion-item>
    </ion-card>
  </div>
</ion-content>