@font-face{
    font-family: PoppinsMedium;
    src : url('/assets/font/Poppins-Medium.ttf')
}
@font-face{
    font-family: PoppinsRegular;
    src : url('/assets/font/Poppins-Regular.ttf')
}
@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/font/Avenir Heavy.ttf')
}
ion-content
{
    --background: #ffffff;
    --padding-start: 1.6875rem;
    --padding-end: 1.6875rem;
    --padding-bottom: 2rem;
}
h1
{
  font-family: PoppinsMedium;
  color: #000000;
  font-size: 1.375rem; 
}
.top-slider
{
    margin-top: 6.25rem;
}
.p-descripcion
{
  color: #6E6E6E;
  font-family: PoppinsRegular;
  font-size: 0.9375rem;
}
.div-center
{
    display: flex;
    justify-content: center;
}
.bottom-cero
{
    margin-bottom: 0px;
}
.card-slide
{
    border-radius: 0px;
    background-image: url('/assets/img/grupo-2775.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 12.1875rem;
    height: 17.8125rem;
    box-shadow: none;
    margin-top: 1rem;
}
.top-p
{
    margin-top: 3.125rem;
}
.btn-guardar
{
    font-family: AvenirHeavy;
    --background: #FF640A;
    --background-activated: #FF640A;
    --border-radius: 1.875rem;
    font-size: 1.1875rem;
    width: 80%;
    margin-left: 10%;
    height: 3.75rem;
    margin-top: 3.5625rem;
}
ion-footer 
{
    padding-bottom: 2rem;
}
@media (min-width: 768px)
{
    ion-content
    {
        --padding-start: 8.75rem;
        --padding-end: 8.75rem;
    }
    .card-slide
    {
        width: 8.75rem;
        height: 8.75rem;
    }
    
}
