<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="back ()" mode="ios" class="btn-atras">< Regresar al carrito</ion-button>
    <!-- <img src="assets/img/cart.png" class="icon-cart-menu">
    <ion-badge mode="ios" class="badge-rojo">9</ion-badge> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="titulo-header ion-text-center">Caja</h1>
  
  <div class="div-pedidos">
    <h6 class="h6-resumen">Resumen del pedido:</h6>
    <ion-list class="list-pedios">
      <div *ngFor="let item of cart" lines="none" class="item-productos">
        <p  class="lable-pedido p-widht-pedido">{{ item.cantidad }}x {{ item.nombre }}</p>
        <ion-label slot="end"  class="lable-pedido">{{ item.precio * item.cantidad | currency:item.moneda }}</ion-label>
      </div>
    </ion-list>
  </div>

  <ion-card class="card-total-pagar">
    <p class="p-pagar-total">Total a pagar (USD):</p>
    <p class="p-pagar-total">{{ get_total ('USD') | currency:'USD' }}</p>
  </ion-card>

  <ion-card class="card-total-pagar">
    <p class="p-pagar-total">Total a pagar (S/.):</p>
    <p class="p-pagar-total">{{ get_total ('S/.') | currency:'S/.' }}</p>
  </ion-card>

  <div class="div-pago">
    <h6 class="h6-nombres-campos h6-top-bottom">Destino:</h6>
    <ion-item lines="none" class="item-input">
      <ion-select [(ngModel)]="surcursal_selected" interface="alert" placeholder="Seleccione una surcursal">
        <ion-select-option *ngFor="let item of surcursales" [value]="item">
          {{ item.denominacion }}
        </ion-select-option>
      </ion-select>
      <ion-icon name="chevron-down-outline" class="icon-slect"></ion-icon>
    </ion-item>
  </div>

  <div class="div-pago">
    <h6 class="h6-nombres-campos h6-top-bottom">Metodo de pago:</h6>
    <ion-segment [(ngModel)]="selected_segment" value="deposito" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="deposito_bancario">
        <ion-label>Depósito bancario</ion-label>
      </ion-segment-button>
      <ion-segment-button value="contra_entrega">
        <ion-label>Contra entrega</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-card *ngIf="selected_segment == 'deposito_bancario'" class="card-tarjeta" >
      <ion-card-content class="ion-text-center">
        <div class="div-losgos-tarjeta">
          <ion-avatar *ngFor="let item of bancos" class="avatar-tarjeta" (click)="view_datos_bancarios (item)">
            <img [src]="item.icono">
          </ion-avatar>
        </div>
        <ion-button (click)="selectImageSource (fileInput)" mode="ios" class="btn-tarjeta">
          Cargar comprobante
          <input hidden multiple type="file" accept="image/*" #fileInput (change)="changeListener($event)">
        </ion-button>
        
        <img *ngIf="image_file !== null" [src]="image_file.webPath">

        <p class="p-descripcion-tajeta">
          Puedes completar tu pedido en el momento que tengas el deposito hecho, solo ingresa al carrito
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="selected_segment == 'contra_entrega'" class="card-tarjeta" >
      <ion-card-content class="ion-text-center">
        <p *ngIf="user.confianza === 1" class="p-descripcion-tajeta p-top-tarjeta">
          Puedes completar tu pedido en el momento que tengas el deposito hecho, solo ingresa al carrito
        </p>
        <p *ngIf="user.confianza === 0">
          Usted no puede hacer uso de este servicio
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer class="ion-no-border ion-text-center" mode="ios">
  <ion-button mode="ios" class="btn-guardar" (click)="submit ()">Completar</ion-button>
</ion-footer>