<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-button mode="ios" class="btn-atras" (click)="back ()">< Atrás</ion-button>
    <ion-icon name="search-sharp" class="icon-serach"></ion-icon>
    <img (click)="go_page ('carrito')" src="assets/img/cart.png" class="icon-cart-menu">
    <ion-badge *ngIf="(cart_item_count | async) > 0" (click)="go_page ('carrito')" mode="ios" class="badge-rojo">
      {{ cart_item_count | async }}
    </ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="get_data ($event, false, 'refresher')">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h1 class="titulo-header ion-text-center">Historial</h1>
  <ion-list>
    <ion-item lines="none" class="item-date">
      <ion-datetime [max]="today" (ionChange)="filter ()" [(ngModel)]="desde" displayFormat="DD/MMM/YYYY" placeholder="Desde fecha" mode="ios"></ion-datetime>
      <ion-icon name="chevron-down-outline" class="icon-bottom"></ion-icon>
    </ion-item>
    <ion-item lines="none" class="item-date">
      <ion-datetime [max]="today" (ionChange)="filter ()" [(ngModel)]="hasta" displayFormat="DD/MMM/YYYY" placeholder="Hasta fecha" mode="ios"></ion-datetime>
      <ion-icon name="chevron-down-outline" class="icon-bottom"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-grid class="grid-padding-left-right">
    <ion-row>
      <ion-col *ngIf="items.length <= 0" size="12" size-md="12" class="col-favoritos">
        <ion-item class="ion-text-center">
          <ion-label class="ion-text-wrap">
            <h2>Ningúna pedido</h2>
            <p>No encontramos ningun registro dentro del rango de fechas seleccionado</p>
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col *ngIf="loading" size="12" size-md="6" class="col-favoritos">
        <ion-card class="card-favorito">
          <h6 class="h6-titulo-historial"><ion-skeleton-text animated></ion-skeleton-text></h6>
          <p class="p-sucursal"><ion-skeleton-text animated></ion-skeleton-text></p>
          <div class="div-flex-fecha">
            <p class="p-fecha"><ion-skeleton-text animated></ion-skeleton-text></p>
            <p class="p-monto"><ion-skeleton-text animated></ion-skeleton-text></p>
          </div>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="loading" size="12" size-md="6" class="col-favoritos">
        <ion-card class="card-favorito">
          <h6 class="h6-titulo-historial"><ion-skeleton-text animated></ion-skeleton-text></h6>
          <p class="p-sucursal"><ion-skeleton-text animated></ion-skeleton-text></p>
          <div class="div-flex-fecha">
            <p class="p-fecha"><ion-skeleton-text animated></ion-skeleton-text></p>
            <p class="p-monto"><ion-skeleton-text animated></ion-skeleton-text></p>
          </div>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="loading" size="12" size-md="6" class="col-favoritos">
        <ion-card class="card-favorito">
          <h6 class="h6-titulo-historial"><ion-skeleton-text animated></ion-skeleton-text></h6>
          <p class="p-sucursal"><ion-skeleton-text animated></ion-skeleton-text></p>
          <div class="div-flex-fecha">
            <p class="p-fecha"><ion-skeleton-text animated></ion-skeleton-text></p>
            <p class="p-monto"><ion-skeleton-text animated></ion-skeleton-text></p>
          </div>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="loading" size="12" size-md="6" class="col-favoritos">
        <ion-card class="card-favorito">
          <h6 class="h6-titulo-historial"><ion-skeleton-text animated></ion-skeleton-text></h6>
          <p class="p-sucursal"><ion-skeleton-text animated></ion-skeleton-text></p>
          <div class="div-flex-fecha">
            <p class="p-fecha"><ion-skeleton-text animated></ion-skeleton-text></p>
            <p class="p-monto"><ion-skeleton-text animated></ion-skeleton-text></p>
          </div>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="loading" size="12" size-md="6" class="col-favoritos">
        <ion-card class="card-favorito">
          <h6 class="h6-titulo-historial"><ion-skeleton-text animated></ion-skeleton-text></h6>
          <p class="p-sucursal"><ion-skeleton-text animated></ion-skeleton-text></p>
          <div class="div-flex-fecha">
            <p class="p-fecha"><ion-skeleton-text animated></ion-skeleton-text></p>
            <p class="p-monto"><ion-skeleton-text animated></ion-skeleton-text></p>
          </div>
        </ion-card>
      </ion-col>

      <ion-col *ngIf="loading" size="12" size-md="6" class="col-favoritos">
        <ion-card class="card-favorito">
          <h6 class="h6-titulo-historial"><ion-skeleton-text animated></ion-skeleton-text></h6>
          <p class="p-sucursal"><ion-skeleton-text animated></ion-skeleton-text></p>
          <div class="div-flex-fecha">
            <p class="p-fecha"><ion-skeleton-text animated></ion-skeleton-text></p>
            <p class="p-monto"><ion-skeleton-text animated></ion-skeleton-text></p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col *ngFor="let item of items" (click)="detalles (item)" size="12" size-md="6" class="col-favoritos">
        <ion-card class="card-favorito">
          <ion-icon name="chevron-forward-circle-sharp" class="icon-right-abosulete" (click)="detalles (item)"></ion-icon>
          <h6 class="h6-titulo-historial">Numero de pedido: {{ item.codigo_pedido }}</h6>
          <p class="p-sucursal">Sucursal: {{ item.sucursal }}</p>
          <p class="p-sucursal">Estado: {{ get_estado (item.estado) }}</p>
          <p class="p-sucursal" *ngIf="item.procesado == 1">Pagado</p>
          <p class="p-sucursal" *ngIf="item.procesado == 0">Pendiente de pago</p>
          <div class="div-flex-fecha">
            <p class="p-fecha">Fecha de pedido: {{ get_format_date (item.fecha, 'l') }}</p>
            <p class="p-monto">Monto: {{ item.total.soles | currency:'S/' }} - {{ item.total.dolares | currency:'USD' }}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="get_data ($event, true, 'infinite-scroll')">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="toolbar-footer">
    <div class="div-footer">
      <div class="div-footer-tag ion-text-center" (click)="go_page ('home')">
        <div class="div-img-footer">
          <img src="assets/img/grupo-2746.png">
        </div>
        <p class="ion-no-margin p-footer-plomo">Inicio</p>
      </div>
      <div class="div-footer-tag ion-text-center">
        <div class="div-img-footer">
          <img src="assets/img/icon-feather-heart-footer.png">
        </div>
        <p class="ion-no-margin p-footer-plomo">Favoritos</p>
      </div>
      <div class="div-footer-tag ion-text-center" (click)="go_page ('carrito')">
        <div class="div-img-footer">
          <img src="assets/img/grupo-2745.png">
        </div>
        <p class="ion-no-margin p-footer-plomo">Carrito</p>
      </div>
      <div class="div-footer-tag ion-text-center" (click)="go_page ('historial')">
        <div class="div-img-footer">
          <img src="assets/img/grupo-2747-active.png">
        </div>
        <p class="ion-no-margin p-footer-plomo">Historial</p>
      </div>
      <div class="div-footer-tag ion-text-center" (click)="share_wp ()">
        <div class="div-img-footer">
          <img src="assets/img/grupo-2744.png">
        </div>
        <p class="ion-no-margin p-footer-plomo">Contacto</p>
      </div>
    </div>
  </ion-toolbar>
  <div class="div-linea-azul"></div>
</ion-footer>